<!-- HTML para agregar logo de  GINA al admin-->
{% extends 'admin/base.html' %} {%load static%} {% block branding %}

<h1 id="head">
  <img src="{% static 'img/logo-gina.png' %}" width="40" height="47,66" />
  GINA - Grupo de Inteligencia Artificial
</h1>

{% endblock %} {% block extrastyle%}

<link rel="stylesheet" href="{% static 'css/adminstyle.css'%}" />

{%endblock %}

{% block footer %}
<div id="footer"></div>
<script>
function resizeTable() {
  /* So Windows mouse users can see the horizontal scrollbar
     https://github.com/CAVaccineInventory/vial/issues/363 */
  if (window.matchMedia('screen and (min-width: 800px)').matches) {
    let container = document.querySelector("#changelist-form .results");
    let paginator = document.querySelector("p.paginator");
    if (!container || !paginator) {
        return;
    }
    let height =
        window.innerHeight -
        container.getBoundingClientRect().top -
        paginator.getBoundingClientRect().height -
        20;
    container.style.overflowY = "auto";
    container.style.height = height + "px";
  }
}
window.addEventListener("load", resizeTable);
</script>
{% endblock %}